dotenv
langchain
langchain-openai
python-dotenv
jupyter
langchain-community
pypdf
langchain_experimental
PyPDF2
pandas
pdfplumber
faiss-gpu
faiss-cpu
camelot-py[cv]
tabula-py
pdf2image
gmft
pandas
openai
torch
gmft==0.3.6
transformers==4.33.2
tesseract